{% extends 'base.html' %}

{% block title%} Signup Html {% endblock %}

{%block css%}
<style>
  .signup {
    text-align: center;
    width: 50%;
  }

  #s {
    margin: 2%;
    font-size: 0.5rem;
  }


  #s img {
    width: 50%;
    height: 10%;
    align-items: bottom;
    margin: 30% 0;
  }

  .loginHeader {
    text-align: center;
    font-size: 1.5rem;
  }




  @import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .container-fluid {
    position: absolute;
    height: 100%;
    overflow: hidden;
  }

  body {
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
  }

  .container-fluid:hover .top:before,
  .container-fluid:hover .top:after,
  .container-fluid:hover .bottom:before,
  .container-fluid:hover .bottom:after,
  .container-fluid:active .top:before,
  .container-fluid:active .top:after,
  .container-fluid:active .bottom:before,
  .container-fluid:active .bottom:after {
    margin-left: 200px;
    transform-origin: -200px 50%;
    transition-delay: 0s;
  }

  .container-fluid:hover .center,
  .container-fluid:active .center {
    opacity: 1;
    transition-delay: 0.2s;
  }

  .top:before,
  .top:after,
  .bottom:before,
  .bottom:after {
    content: "";
    display: block;
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    top: 50%;
    left: 50%;
    margin-top: -100vmax;
    transform-origin: 0 50%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index: 10;
    opacity: 0.65;
    transition-delay: 0.2s;
  }

  .top:before {
    transform: rotate(51deg);
    background: #e46569;
  }

  .top:after {
    transform: rotate(129deg);
    background: #ecaf81;
  }

  .bottom:before {
    transform: rotate(-51deg);
    background: #60b8d4;
  }

  .bottom:after {
    transform: rotate(-129deg);
    background: #3745b5;
  }

  .center {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    transition-delay: 0s;
    color: #333;
  }

  .center label {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .center button {
    width: 25%;
    height: 15%;
    font-size: 0.8rem;
    align-items: center;
  }

  .center input {
    width: 130%;
    height: 55%;
    font-family: inherit;
  }
</style>
{% endblock css %}


{% block body %}


<div class="container-fluid" onclick="onclick">


  <div class='row' id="s">

    <form method="post">
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="center">

        {% csrf_token %}
        <h2 class="mb-3 loginHeader">Sign Up</h2>
        {% for field in form %}
        <p class="mb-3">
          {{ field.label_tag }}<br>
          {{ field }}
          <!--        {% if field.help_text %}-->
          <!--          <small style="color: grey">{{ field.help_text }}</small>-->
          {% endif %}
          {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <br><button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-sign-in"></i> Sign up</button><br>
      </div>
    </form>
  </div>
  </form>
</div>


{% endblock %}

{% block footer %}
{% endblock footer %}