{% extends 'base.html' %}

{% block title%} Upload book {% endblock %} 

{%block css%}
<style>
        #upload{
            background-size: cover;
            background: #fff url("../images/s10.png") no-repeat center;
             background-position: 45% 27%;
            /*margin:20px 0;*/
            padding: 5% 35%;
            margin-bottom: 5%;
        }
        #upload label{
            font-size:1.5rem;
        }
        .loginHeader{
            text-align:center;
            font-size:3rem;
            opacity: 0.8;
            padding-top:8%;
        }
        #back{
		padding:10px;
		width:100%;
		background:#263238;
		color:#fff;
	    }

    </style>

    {%endblock css%}

{% block body %}

<div id="upload">
<form method="post" action="/upload_book.html" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="mb-3 loginHeader">Upload Here</p>
    <br>
    <label >Book Name :</label>
    <input type="text" placeholder="Book name " class="form-control transparent-input"  name="book_name" required>
    <br><br>


    <label >Book Picture : </label>
    <input class="form-control transparent-input" type="file" name="book_file" required>
    <br><br>

     <label >Book Price : </label>
    <input type="text" placeholder="Book Price " class="form-control transparent-input" name="book_price" required>
    <br><br>

    <button type="submit" class="button" id="back">Upload</button> <br><br>
</form>
<a href="vieworders.html"><button type="submit" class="btn"  id="back">View Orders</button></a>
</div>
{% endblock%}